div.auth-form {
    display: flex;
    max-width: 35em;
    margin: 2em auto;
}
div.auth-form form {
    padding: 1.5em;
}
div.auth-form input {
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #424242;
    margin: .5em 0;
    width: 100%;
    color: '#424242';
}

form > div {
    padding:0;
    width: 100%;
}

form small {
    color: #d32f2f;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}